body, html {
  font-family: Lato;
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6, a {
  font-family: Montserrat;
  font-weight: 300;
  line-height: 1; }

.section-title {
  text-align: center;
  margin: 10px 0px; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  max-width: 1024px; }

#splash {
  background: #002D47;
  background-image: url("../img/splashBack.png");
  /* fallback */
  background-image: url("../img/splashBack.png"), linear-gradient(#195D85, #002D47);
  /* W3C */
  background-image: url("../img/splashBack.png"), -webkit-linear-gradient(#195D85, #002D47);
  /* W3C */
  background-size: cover;
  color: #fff;
  overflow: hidden; }
  #splash nav {
    display: block;
    width: 100%;
    height: 60px;
    padding: 20px 2px; }
    #splash nav ol {
      list-style-type: none;
      position: relative;
      float: right;
      font-size: 15px; }
      #splash nav ol li {
        display: inline;
        padding: 2px 12px; }
      #splash nav ol a {
        dislay: block; }
      #splash nav ol a:hover {
        color: #eee;
        text-decoration: none; }
  #splash .splashBlock {
    margin-top: 80px;
    position: relative;
    padding-bottom: 60px; }
    @media only screen and (max-width: 768px) {
      #splash .splashBlock {
        padding-bottom: 100px; } }
    #splash .splashBlock .tagline {
      position: relative;
      text-transform: uppercase; }
      #splash .splashBlock .tagline h4 {
        font-size: 28px; }
        @media only screen and (max-width: 768px) {
          #splash .splashBlock .tagline h4 {
            font-size: 16px; } }
      #splash .splashBlock .tagline span {
        color: #000;
        background: #FFF300;
        padding: 10px; }
    #splash .splashBlock .tagline:before {
      content: "";
      display: block;
      position: absolute;
      background: url("../img/RoundedPNG.png") center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 60px;
      width: 60px;
      top: -20px;
      left: -20px; }
    #splash .splashBlock .title h1 {
      font-size: 72px;
      color: #FC5050;
      line-height: 1.2; }
      @media only screen and (max-width: 768px) {
        #splash .splashBlock .title h1 {
          font-size: 54px; } }
    #splash .splashBlock .signup {
      margin-top: 40px; }
      #splash .splashBlock .signup a {
        color: #fff;
        padding: 20px 40px;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px solid #fff; }
        @media only screen and (max-width: 768px) {
          #splash .splashBlock .signup a {
            padding: 15px 30px; } }
    #splash .splashBlock .date {
      text-align: right;
      position: relative;
      top: -60px;
      text-transform: uppercase;
      letter-spacing: 1.71px;
      z-index: 9; }
      @media only screen and (max-width: 768px) {
        #splash .splashBlock .date {
          top: 0px; } }
      #splash .splashBlock .date h4 {
        font-size: 28px;
        text-decoration: underline;
        line-height: 1.5; }
        @media only screen and (max-width: 768px) {
          #splash .splashBlock .date h4 {
            font-size: 16px; } }
    #splash .splashBlock .sponsorships {
      position: relative;
      top: -100px; }
      @media only screen and (max-width: 768px) {
        #splash .splashBlock .sponsorships {
          top: 0px; } }
      #splash .splashBlock .sponsorships a {
        color: #FFF300;
        text-decoration: underline; }
  #splash .splashBlock:after {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/RoundedPNG.png") center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    bottom: -60px;
    right: 0px; }
  #splash .register-btn {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer; }
  #splash .register-btn:hover {
    background: #ddd;
    transition: all 0.8s; }

#about {
  padding: 0px 0px 60px 0;
  position: relative; }
  #about .section-title {
    color: #FC5050; }
  #about .content {
    font-size: 18px;
    width: 600px;
    text-align: center;
    margin: auto; }

#about:before {
  content: "";
  width: 100%;
  height: 80px;
  background: url("../img/slant.svg");
  background-size: cover;
  position: absolute;
  display: block;
  top: -70px; }

#speakers {
  padding: 30px 0;
  position: relative;
  background: #002D47;
  color: #fff; }
  #speakers .keynote {
    height: 300px;
    display: table; }
    #speakers .keynote .keynoteImg {
      display: table-cell;
      width: 60%;
      background: url("../img/dude.png");
      background-size: contain; }
    #speakers .keynote .keynoteDesc {
      text-align: center;
      display: table-cell;
      width: 40%;
      vertical-align: middle; }
      #speakers .keynote .keynoteDesc h4 {
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
        padding: 0; }
      #speakers .keynote .keynoteDesc h1 {
        line-height: 1;
        font-family: Lato;
        font-weight: 100;
        margin: 0;
        padding: 0;
        margin: 10px;
        padding: 10px 20px;
        background: #FC5050;
        display: inline-block;
        font-size: 2.5em; }

/*# sourceMappingURL=style.css.map */
