body, html {
  font-family: Lato;
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  width: 100%;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, a {
  font-family: Montserrat;
  font-weight: 300;
  line-height: 1; }

.section-title {
  text-align: center;
  margin: 10px 0px; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  max-width: 1024px; }

#splash {
  background: #002D47;
  background-image: url("../img/splashBack.png");
  /* fallback */
  background-image: url("../img/splashBack.png"), linear-gradient(#195D85, #002D47);
  /* W3C */
  background-image: url("../img/splashBack.png"), -webkit-linear-gradient(#195D85, #002D47);
  /* W3C */
  background-size: cover;
  color: #fff;
  overflow: hidden; }
  #splash nav {
    display: block;
    width: 100%;
    height: 60px;
    padding: 20px 2px; }
    #splash nav ol {
      list-style-type: none;
      position: relative;
      float: right;
      font-size: 15px; }
      @media only screen and (max-width: 768px) {
        #splash nav ol {
          float: left;
          left: -40px; } }
      #splash nav ol li {
        display: inline;
        padding: 5px 12px; }
        @media only screen and (max-width: 768px) {
          #splash nav ol li {
            padding: 5px 6px;
            font-size: 13px; } }
      #splash nav ol a {
        dislay: block; }
      #splash nav ol a:hover {
        color: #eee;
        text-decoration: none; }
  #splash .splashBlock {
    margin-top: 80px;
    position: relative;
    padding-bottom: 60px; }
    @media only screen and (max-width: 768px) {
      #splash .splashBlock {
        padding-bottom: 100px; } }
    #splash .splashBlock .tagline {
      position: relative;
      text-transform: uppercase; }
      #splash .splashBlock .tagline h4 {
        font-size: 28px; }
        @media only screen and (max-width: 768px) {
          #splash .splashBlock .tagline h4 {
            font-size: 16px; } }
      #splash .splashBlock .tagline span {
        color: #000;
        background: #FFF300;
        padding: 10px; }
    #splash .splashBlock .tagline:before {
      content: "";
      display: block;
      position: absolute;
      background: url("../img/RoundedPNG.png") center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 60px;
      width: 60px;
      top: -20px;
      left: -20px; }
    #splash .splashBlock .title h1 {
      font-size: 72px;
      color: #FC5050;
      line-height: 1.2; }
      @media only screen and (max-width: 768px) {
        #splash .splashBlock .title h1 {
          font-size: 54px; } }
    #splash .splashBlock .signup {
      margin-top: 40px;
      position: relative;
      z-index: 10; }
      #splash .splashBlock .signup a {
        color: #fff;
        padding: 20px 40px;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px solid #fff; }
        @media only screen and (max-width: 768px) {
          #splash .splashBlock .signup a {
            padding: 15px 30px; } }
    #splash .splashBlock .date {
      text-align: right;
      position: relative;
      top: -60px;
      text-transform: uppercase;
      letter-spacing: 1.71px;
      z-index: 9; }
      @media only screen and (max-width: 768px) {
        #splash .splashBlock .date {
          top: 0px; } }
      #splash .splashBlock .date h4 {
        font-size: 28px;
        text-decoration: underline;
        line-height: 1.5; }
        @media only screen and (max-width: 768px) {
          #splash .splashBlock .date h4 {
            font-size: 16px; } }
    #splash .splashBlock .sponsorships {
      position: relative;
      top: -100px;
      z-index: 10; }
      @media only screen and (max-width: 768px) {
        #splash .splashBlock .sponsorships {
          top: 0px; } }
      #splash .splashBlock .sponsorships a {
        color: #FFF300;
        text-decoration: underline; }
  #splash .splashBlock:after {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/RoundedPNG.png") center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    bottom: -60px;
    right: 0px; }
  #splash .register-btn {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer; }
  #splash .register-btn:hover {
    background: #14A7E3;
    border-color: #0497D3;
    transition: all 0.8s; }

#about {
  padding: 0px 0px 60px 0;
  position: relative; }
  #about .section-title {
    color: #FC5050; }
  #about .content {
    font-size: 18px;
    width: 600px;
    text-align: center;
    margin: auto; }
    @media only screen and (max-width: 768px) {
      #about .content {
        width: 300px; } }
  #about .club-name {
    text-decoration: underline; }
  #about .club-name:hover {
    color: #555; }

#about:before {
  content: "";
  width: 100%;
  height: 80px;
  background: url("../img/slant.svg");
  background-size: cover;
  position: absolute;
  display: block;
  top: -70px; }

#speakers:before {
  content: "";
  width: 100%;
  height: 100px;
  background: url("../img/slant2.svg");
  background-size: cover;
  position: absolute;
  display: block;
  top: -10px; }

#speakers {
  padding: 80px 0;
  position: relative;
  background: #002D47;
  color: #fff; }
  #speakers .keynote {
    height: 300px;
    width: 100%;
    display: table; }
    @media only screen and (max-width: 768px) {
      #speakers .keynote {
        width: 100%;
        display: block;
        height: auto;
        padding-bottom: 40px; } }
    #speakers .keynote .keynoteImg {
      display: table-cell;
      width: 60%;
      border: 1px solid #002D47;
      background: url("../img/headshots/dude.png") center;
      background-size: contain;
      background-repeat: no-repeat; }
      @media only screen and (max-width: 768px) {
        #speakers .keynote .keynoteImg {
          width: 100%;
          display: block;
          height: 200px; } }
    #speakers .keynote .keynoteDesc {
      text-align: center;
      display: table-cell;
      width: 40%;
      vertical-align: middle; }
      @media only screen and (max-width: 768px) {
        #speakers .keynote .keynoteDesc {
          width: 100%;
          display: block; } }
      #speakers .keynote .keynoteDesc h4 {
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
        padding: 0; }
      #speakers .keynote .keynoteDesc h1 {
        line-height: 1;
        font-family: Lato;
        font-weight: 100;
        margin: 0;
        padding: 0;
        margin: 10px;
        padding: 10px 20px;
        background: #FC5050;
        display: inline-block;
        font-size: 2em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em; }
  #speakers .speakers {
    width: 100%;
    display: table;
    height: 200px; }
    @media only screen and (max-width: 768px) {
      #speakers .speakers {
        width: 100%;
        height: auto;
        display: block; } }
    #speakers .speakers .speaker {
      width: 33.3%;
      border: 1px solid #002D47;
      display: table-cell;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      position: relative; }
      @media only screen and (max-width: 768px) {
        #speakers .speakers .speaker {
          width: 100%;
          display: block;
          height: 200px; } }
      #speakers .speakers .speaker .name, #speakers .speakers .speaker .title {
        position: absolute;
        line-height: 1;
        padding: 10px 10px;
        background: #14A7E3;
        bottom: 10px; }
      #speakers .speakers .speaker .name {
        background: #FC5050;
        bottom: 42px; }
      #speakers .speakers .speaker .title {
        font-size: 12px; }
    #speakers .speakers .name1 {
      background: url("../img/headshots/mh.jpg"); }
    #speakers .speakers .name2 {
      background: url("../img/headshots/sl.jpg"); }
    #speakers .speakers .name3 {
      background: url("../img/headshots/kh.jpg"); }
    #speakers .speakers .name4 {
      background: url("../img/headshots/ma.jpg"); }
    #speakers .speakers .name5 {
      background: url("../img/headshots/tr.jpg"); }
    #speakers .speakers .name6 {
      background: url("../img/headshots/sf.jpg"); }
    #speakers .speakers .name7 {
      background: url("../img/headshots/pb.jpg"); }
    #speakers .speakers .name8 {
      background: url("../img/headshots/fb.jpg"); }
    #speakers .speakers .name9 {
      background: url("../img/headshots/as.jpg"); }
    #speakers .speakers .name10 {
      background: url("../img/headshots/dl.jpg"); }
    #speakers .speakers .name11 {
      background: url("../img/headshots/cb.jpg"); }

#sponsors {
  text-align: center;
  margin: 60px 10px 130px 10px; }
  #sponsors h1 {
    color: #14A7E3; }
  #sponsors .sponsorHeading {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative; }
  #sponsors .sponsorHeading:before {
    content: "";
    width: 15%;
    position: absolute;
    border-top: 1px solid #ccc;
    height: 10px;
    top: 8px;
    left: 29%; }
    @media only screen and (max-width: 768px) {
      #sponsors .sponsorHeading:before {
        width: 30%; } }
  #sponsors .sponsorHeading:after {
    content: "";
    width: 15%;
    position: absolute;
    border-top: 1px solid #ccc;
    height: 10px;
    top: 8px;
    right: 29%; }
    @media only screen and (max-width: 768px) {
      #sponsors .sponsorHeading:after {
        width: 30%; } }
  #sponsors #sponsor-btn {
    position: relative;
    top: 30px;
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #777;
    color: #333;
    cursor: pointer; }
  #sponsors #sponsor-btn:hover {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    background: #14A7E3;
    color: #fff;
    border-color: #0497D3; }
  #sponsors .sponsorship-hint {
    color: #777;
    position: relative;
    font-size: 14px;
    top: 60px; }

.seperator {
  height: 20px;
  width: 120%;
  background-color: #FC5050;
  z-index: 100;
  display: block;
  position: relative; }

#schedule:before {
  content: "";
  display: block;
  width: 110%;
  height: 80px;
  position: absolute;
  top: -40px;
  background: #002D47;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg); }

/*#schedule:after{
	content:"";
	display:block;
	width:110%;
	height:80px;
	position:absolute;
	bottom:-40px;
	background:$blue;
	transform: rotate(-2deg);
	-webkit-transform: rotate(2deg);
}*/
#schedule {
  padding: 40px 0 70px 0;
  position: relative;
  background: #002D47;
  color: #fff; }
  #schedule table {
    max-width: 500px;
    margin: auto;
    left: 60px;
    position: relative; }
    #schedule table tr td {
      padding: 5px 20px; }
    #schedule table tr td:first-child {
      border-right: 2px solid #fff;
      text-align: right;
      position: relative; }
    #schedule table tr td:first-child:after {
      content: "--";
      position: absolute;
      right: -7px;
      font-weight: 500; }

footer {
  padding: 20px;
  height: 120px;
  width: 100%;
  background-color: #004d80;
  font-size: 16px;
  color: #fff; }
  footer .ucla-logo {
    width: 90px;
    height: 90px; }
  footer a:hover {
    text-decoration: underline;
    color: #ddd; }
  footer .hosts a:hover {
    color: #fff; }
  footer .last-line {
    position: relative;
    top: 8px;
    color: #fff;
    font-size: 13px;
    margin: auto;
    text-align: center; }
  footer .social-media a {
    margin: 0 13px; }
    @media only screen and (max-width: 768px) {
      footer .social-media a {
        margin: 0 5px; } }
  @media only screen and (max-width: 768px) {
    footer {
      height: 160px; } }

/*# sourceMappingURL=style.css.map */
